fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-multipart
passlib[bcrypt]
python-jose
jinja2
xhtml2pdf
pandas
openpyxl
python-dotenv
celery
redis
aiofiles
playwright
aiosmtplib
pydantic[email]